 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    height: 100vh;
    background-color: orangered;
    background-image: url(images/background6.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none ;
}
a {
    text-decoration: none;
    color: #0a0202bf;
    font: 1em sans-serif;
    font-family: 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
}

a:hover {
    color: #ea700c;
}

/* Header */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 68px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(2, 8, 10, 0.908);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .links {
    display: flex;
    gap: 3rem;
}





.navbar .toggle-btn {
   
    font-size: 1.5rem;
    color: rgba(134, 130, 130, 0.929);
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #ea700c;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: scale 0.2s ease;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #c45500;
    scale: 0.95;
}

/* dropdown menu */

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
}
.dropdown_menu.open{
    height: 240px;
}


.dropdown_menu li {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*hero section */
section#hero {
    height: calc(100vh - 60px);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(231, 231, 235);
    text-align: center ;
    font-family: 'poppins', sans-serif;
    
    
}

#hero h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #eee9e9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #e6e5e3;
    font-family: 'Times New Roman', Times, serif;
}

#about   {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #7c0a06;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Responsive Design */


@media (max-width:992px)
{
    .navbar .links,
    .navbar .action-btn
    {
        display: none;
    }
.navbar .toggle-btn
{
    display: block;
}

.dropdown_menu
{
    display: block;
}
}

@media (max-width:576px)
{
    .dropdown_menu
    {
        left: 2rem;
        width: unset;
    }
}