 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #0c0101;
    font: 1em sans-serif;
    font-family: 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
}

a:hover {
    color: #ea700c;
}

/* Header */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(14, 114, 114);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}





.navbar .toggle-btn {
   
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #ea700c;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: scale 0.2s ease;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #c45500;
    scale: 0.95;
}

/* dropdown menu */

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
}
.dropdown_menu.open{
    height: 240px;
}


.dropdown_menu li {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*hero section */
section#hero {
    height: calc(100vh - 60px);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(1, 2, 11);
    text-align: center;
    font-family: 'poppins', sans-serif;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #7c0606;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #100101;
    font-family: 'Times New Roman', Times, serif;
}


#contact h1 
{
  
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #7c0606;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#contact p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #100101;
    font-family: 'Times New Roman', Times, serif;
}
.container{
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 160px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}
.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 20px;
}
.social-media {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
}
.social-media a {
  color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 5px;
  margin-top: 30px;
}
.social-media a ion-icon {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.social-media a:hover ion-icon {
  color: red;
  transform: translateY(10px);
}

@media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {

    .container{
      margin: 40px 40px;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
      
    }
    .right-side h3{
      margin-left: 40px;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
   
  }
/* Responsive Design */


@media (max-width:992px)
{
    .navbar .links,
    .navbar .action-btn
    {
        display: none;
    }
.navbar .toggle-btn
{
    display: block;
}

.dropdown_menu
{
    display: block;
}
}

@media (max-width:576px)
{
    .dropdown_menu
    {
        left: 2rem;
        width: unset;
    }
}